Package: mpax
Version: 0.1.0
Maintainer: realth000 <a598919335@gmail.com>
Section: sound
Priority: optional
Architecture: amd64
Build-Depends: cmake,
		g++,
		qtbase5-dev,
		qttools5-dev,
		qtmultimedia5-dev,
		libqt5x11extras5-dev
Depends: libqt5core5a,
	libqt5concurrent5,
	libqt5gui5,
	libqt5sql5,
	libqt5sql5-sqlite,
	libqt5widgets5,
	libqt5multimedia5,
	libqt5multimediagsttools5,
	libqt5multimediawidgets5,
	libqt5x11extras5,
	libsqlite3-0,
	gstreamer1.0-plugins-base,
	libgstreamer-plugins-base1.0-0,
	libgstreamer-plugins-good1.0-0
Description: MPax is a simple and easy-to-use music player.

