QLabel#coverLabel {
    /*border: 1px solid #ff0000;*/
    font-size: 30px;
}

QPushButton#titleButton, QPushButton#artistButton, QPushButton#albumButton {
    border: none;
    text-align: left;
}

QPushButton#preButton, QPushButton#playButton, QPushButton#nextButton, QPushButton#stopButton, QPushButton#stopButton, QPushButton#playModeButton, QPushButton#muteButton {
    font-size: 18px;
}
