QTableView {
    outline: none;
    background-color: #1e1d23;
    border: 1px solid #2f2e33;
    selection-background-color: #007b50;
}

QHeaderView {
    color: #a9b7c6;
    background-color: #272632;
    border: 1px solid #2f2e33;
}

QHeaderView::section {
    background-color: transparent;
    border: 2px solid transparent;
    selection-background-color: #007b50;
    padding-left: 2px;
}

QTableView::item {
    /*border: 1px solid #ff0000;*/
    color: #a9b7c6;
    border: 2px solid transparent;
}

QTableView::item:hover {
    color: #FFFFFF;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #04b97f;
    border-bottom-color: transparent;
    border-left-width: 2px;
}

QTableView::item:selected {
    color: #FFFFFF;
    outline: none;
    background-color: #007b50;
    border: 2px solid transparent;
}

QScrollBar:vertical {
    border: 1px solid #3e3d53;
    background-color: transparent;
    width: 17px;
    margin: 15px 0 15px 0;
}

QScrollBar::handle:vertical {
    border: none;
    background-color: #272632;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #04b97f;
    border-bottom-color: transparent;
    border-left-width: 2px;
    background-color: #272632;
    min-height: 20px;
}

QScrollBar::handle:vertical:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #007b50;
    border-bottom-color: transparent;
    border-left-width: 2px;
    background-color: #007b50;
    min-height: 20px;
}

QScrollBar::sub-line:vertical {
    border: 2px solid #3e3d53;
    background-color: #3e3d53;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover {
    border-style: solid;
    border-top-color: #04b97f;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 2px;
}

QScrollBar::sub-line:vertical:pressed {
    border-style: solid;
    border-top-color: #007b50;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-left-width: 2px;
}

QScrollBar::add-line:vertical {
    border: 2px solid #3e3d53;
    background-color: #3e3d53;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #04b97f;
    border-left-width: 2px;
}

QScrollBar::add-line:vertical:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color:  #007b50;
    border-left-width: 2px;
}

QScrollBar::up-arrow:vertical{
    border-image: url(:/pic/arrow_up_white_15.png);
    width: 12px;
    height: 12px;
}

QScrollBar::down-arrow:vertical {
    border-image: url(:/pic/arrow_down_white_15.png);
    width: 12px;
    height: 12px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    border: 1px solid #3e3d53;
    background-color: transparent;
    height: 17px;
    margin: 0 15px 0 15px;
}

QScrollBar::handle:horizontal {
    border: none;
    background-color: #272632;
    min-width: 20px;
}

QScrollBar::handle:horizontal:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #04b97f;
    border-bottom-width: 2px;
    background-color: #272632;
    min-witdh: 20px;
}

QScrollBar::handle:horizontal:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: #007b50;
    border-left-width: 2px;
    background-color: #007b50;
    min-width: 20px;
}

QScrollBar::sub-line:horizontal {
    border: 2px solid #3e3d53;
    background-color: #3e3d53;
    width: 15px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #04b97f;
    border-bottom-color: transparent;
    border-left-width: 2px;
}

QScrollBar::sub-line:horizontal:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: #007b50;
    border-bottom-color: transparent;
    border-left-width: 2px;
}

QScrollBar::add-line:horizontal {
    border: 2px solid #3e3d53;
    background-color: #3e3d53;
    width: 15px;
    /*subcontrol-position: bottom;*/
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: #04b97f;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-width: 2px;
}

QScrollBar::add-line:horizontal:pressed {
    border-style: solid;
    border-top-color: transparent;
    border-right-color: #007b50;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-width: 2px;
}

QScrollBar::left-arrow:horizontal{
    border-image: url(:/pic/arrow_left_white_15.png);
    width: 12px;
    height: 12px;
}

QScrollBar::right-arrow:horizontal {
    border-image: url(:/pic/arrow_right_white_15.png);
    width: 12px;
    height: 12px;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}

QCheckBox:hover {
    border-color: transparent;
    color: #FFFFFF;
}

QCheckBox::indicator:checked {
    background-color: qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #04b97f,stop:0.8 transparent);
}

QLineEdit {
    border-radius: none;
    border: none;
    background-color: #222b2e;
    selection-background-color: #007b50;
    color: #d3dae3;
}